/* 
style.css
Frilyo
*/



html {
    scroll-behavior: smooth;
}

@font-face{
    font-family: 'Abel';
    src: url('../fonts/Abel-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4rem;
    font-family: 'Abel', sans-serif;
    background-color: #1F2133;
    color: white;
}

a {
    all: inherit;
}

hr {
    height: 4px;
    border-radius: 2px;
    border: none;
    background-color: #EAD279;
}



.scalable {
    transform: scale(1);
    transform-origin: center;
    /* position: relative; */
}

.scalable-sticky {
    transform: scale(1);
    transform-origin: bottom;
    
}



.hoverable {
    cursor: pointer;
}

.hoverable:hover {
    color: white;
}

.hoverable:hover * {
    color: white;
}



.rounded-image {
    border-radius: 2rem;
}



.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
    min-height: calc(100vh - 10rem);
}

.hero {
    display: flex;
    flex-direction: column;
    height: 20vh;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: top;
    gap: 5rem;
}

.headshot-image {
    flex: 1;
    height: fit-content;
}

.hero-title {
    font-size: 5rem;
    font-weight: bold;
    padding: 5rem;
}

.hero-helper {
    font-size: 3rem;
}

.description {
    flex: 1;
    font-size: 2rem;
}

.name {
    font-size: 7rem;
    font-weight: bold;
    color: #EAD279;
}

@media (orientation: portrait) {
    .hero {
        height: 15vh;
    }

    .about {
        flex-direction: column;
        gap: 2rem;
    }

    .headshot-image {
        display: block;
        width: fit-content;
        height: auto;
        justify-content: center;
    }

    .description {
        flex: 2;
        font-size: 1.7rem;
    }
}



.block-centered {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}



.text-centered {
    text-align: center;
}



.text-left {
    text-align: left;
}




.spacer-vertical-20rem {
    height: 20rem;
}



nav {
    position: sticky;
    top: 0;
    z-index: 10;

    font-size: 2rem;
    color: #EAD279;
    background-color: #1F2133;
}

.nav-direct {
    margin-right: 5.6rem;
}

.nav-direct.active {
    text-decoration: underline;
    font-weight: bold;
}

.nav-link {
    text-align: right;
    margin-left: 2rem;
}

.links {
    display: flex;
    flex-direction: row;
}

.directs {
    display: flex;
    flex-direction: row;
}

.flex-container-spread-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}



.project {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 14rem;
}

.project-left {
    flex: 2;
}

.project-right {
    flex: 1;
    text-align: right;
}

.project-title {
    font-size: 4rem;
    color: #EAD279;
}

.project-date {
    font-size: 2rem;
}

.project-image {
    width: 300px;
    height: 250px;
}



.footer {
    text-align: center;
}

.footer-text {
    margin: 2rem;
    font-size: 1rem;
}