/* 
style.css
Frilyo
*/



html {
    scroll-behavior: smooth;
}

@font-face{
    font-family: 'Abel';
    src: url('../fonts/Abel-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4rem;
    font-family: 'Abel', sans-serif;
    background-color: #1F2133;
    color: white;
}

a {
    all: inherit;
}

hr {
    height: 4px;
    border-radius: 2px;
    border: none;
    background-color: #EAD279;
}



.scalable {
    transform: scale(1);
    transform-origin: center;
    /* position: relative; */
}

.scalable-sticky {
    transform: scale(1);
    transform-origin: bottom;
    
}



.hoverable {
    cursor: pointer;
}

.hoverable:hover {
    color: white;
}

.hoverable:hover * {
    color: white;
}



.rounded-image {
    border-radius: 2rem;
}

.square-wrapper headshot-image {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.square-wrapper {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
}



.home {
    display: flex;
    flex-direction: column;
    justify-content: bottom;
    height: calc(100vh - 6rem);
}



.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    column-gap: 4rem;
}

.A1 {
    grid-column: 1;
    grid-row: 1;
}

.A2 {
    display: flex;
    grid-column: 1;
    grid-row: 2;
}

.B1 {
    display: flex;
    align-items: flex-end;
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 3rem;
}

.B2 {
    display: flex;
    grid-column: 2;
    grid-row: 2;
}



.hero-title {
    font-size: 5rem;
    font-weight: bold;
    padding: 5rem;
}

.hero-helper {
    font-size: 3rem;
}



.description {
    font-size: 2rem;
}



.name {
    font-size: 7rem;
    font-weight: bold;
    color: #EAD279;
}



.block-centered {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}



.text-centered {
    text-align: center;
}



.text-left {
    text-align: left;
}




.spacer-vertical-20rem {
    height: 20rem;
}



nav {
    position: sticky;
    top: 0;
    z-index: 10;

    font-size: 2rem;
    color: #EAD279;
    background-color: #1F2133;
}

.nav-direct {
    margin-right: 5.6rem;
}

.nav-direct.active {
    text-decoration: underline;
    font-weight: bold;
}

.nav-link {
    text-align: right;
    margin-left: 2rem;
}

.links {
    display: flex;
    flex-direction: row;
}

.directs {
    display: flex;
    flex-direction: row;
}

.flex-container-spread-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}



.project {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 20rem;
}

.project-left {
    flex: 2;
}

.project-right {
    flex: 1;
    text-align: right;
}

.project-title {
    font-size: 4rem;
    color: #EAD279;
}

.project-date {
    font-size: 2rem;
}

.project-image {
    width: 300px;
    height: 250px;
}



.footer {
    text-align: center;
}

.footer-text {
    margin: 2rem;
    font-size: 1rem;
}